/* .home {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 90vh;
  gap: 30px;
} */

.right-element {
  /* border: 1px solid #66fcf1; */
  display: flex;
  flex-direction: column;
}

.hello {
  color: #66fcf1;
  font-family: arial;
  font-size: 150px;
}

.introduct {
  color: white;
  font-family: arial;
  font-size: 50px;
  letter-spacing: 2px;
  padding-bottom: 30px;
}

.introduct a {
  color: white;
}

.introduct a:hover {
  color: #66fcf1;
}

button {
  font-size: 20px;
  border-radius: 10px;
  height: 40px;
  width: 120px;
  background-color: white;
  color: #1f2833;
}

button:hover {
  background-color: #66fcf1;
  transform: translate(0, -2px);
}

.webdev-logo {
  height: 400px;
}
