.about-container {
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.about-h {
  color: #66fcf1;
  font-family: Arial;
  font-size: 50px;
}

.about-p {
  font-family: Arial;
  font-size: 20px;
  letter-spacing: 1px;
  color: white;
}
