body {
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: fit-content;
}

table {
  width: 45%;
  border-collapse: collapse;
}

th,
td {
  border: 1px solid black;
  padding: 10px;
  text-align: center;
}

th {
  background-color: orange;
}

td {
  background-color: orange;
}

.image {
  width: 145px;
  height: 145px;
  object-fit: cover;
}

input[type="radio"] {
  margin-right: 5px;
}
