.navbar {
  height: 50px;
  width: 100%;
  background-color: #66fcf1;
  color: #0b0c10;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  box-sizing: border-box;
  font-family: arial;
}

.navitem {
  display: flex;
  gap: 20px;
}

.navitem a {
  color: #0b0c10;
  font-size: 20px;
}

.navitem a:hover {
  cursor: pointer;
  transform: translate(0, -1px);
  font-weight: bold;
}

a {
  text-decoration: none;
}

.logo {
  height: 40px;
}
